teigenerator/.idea/workspace.xml

spellchecker/.idea/workspace.xml

ocr_carter/.idea/workspace.xml

dateparser/.idea/workspace.xml

dataparser/.idea/workspace.xml

__pycache__/

*.swp

*.pyc

tiff/

tiffs/

pngs/

pdfs/

WikipediaTitles/enwiki-latest-page.sql
WikipediaTitles/titleWordCount.tsv
WikipediaTitles/titles.txt

wikipediaxmlreader/.idea/workspace.xml

wikipediaxmlreader/enwiki-20180420-redirect.sql

wikipediaxmlreader/wikipedia.mwb

wikimysql/.idea/workspace.xml

teigeneratortool/venv/*

teigeneratortool/.idea/workspace.xml

teigeneratortool/teigeneratortool/temp/ner_output.txt
