teigenerator/.idea/workspace.xml

spellchecker/.idea/workspace.xml

ocr_carter/.idea/workspace.xml

dateparser/.idea/workspace.xml

dataparser/.idea/workspace.xml

__pycache__/

*.swp

*.pyc

tiff/

wikipediaxmlreader/.idea/workspace.xml
